.cookie{
    width:100%;
    height: 50px;
    bottom: 0;
    position: absolute;
    border:1px solid pink;
    background-color: dodgerblue;
    color:yellow;
    font-size: 1.5em;
    display: inline-block;
}
.cookie button{
    position:absolute;
    display: inline-block;

}
.cookie p{
    position:fixed;
    display: inline-block;
}

#cookie-none{
 display: none;
}