.tooltip{
    color:pink;
    position:relative;
    display: inline-block;
}

.tooltipText{
    display:block;
    background-color:white;
    color:black;
    border:1px solid black;
    position: absolute;
    top:100%;
    z-index: 1;
}